<!DOCTYPE html>
<html>
	<head>
		<!-- Page Meta -->
		<title>Fangage - Create Account</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<!-- Stylesheets -->
		<link rel="stylesheet" type="text/css" href="../styles/_shared/__main.css">
		<link rel="stylesheet" type="text/css" href="../styles/_shared/alignment.css">
		<link rel="stylesheet" type="text/css" href="../styles/_shared/buttons.css">
		<link rel="stylesheet" type="text/css" href="../styles/_shared/containers.css">
		<link rel="stylesheet" type="text/css" href="../styles/_shared/forms.css">
		<link rel="stylesheet" type="text/css" href="../styles/_account_signup.css">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
		<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
		<!-- Scripts -->
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
		<script src="https://use.fontawesome.com/1140779824.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
		<script src="../scripts/_shared/__main.js"></script>
		<script src="../scripts/_account_signup.js"></script>
	</head>
	<body>
		<div class="main-content-container">
			<div class="container-orient-y fill-height scrollable-container">
				<div class="container-orient-x fill-width">
					<!-- Registration Form (Begin) -->
					<div class="inset-content-container">
						<div class="form-logo">
							<img src="../assets/branding/logo-black.png"/>
						</div>
						<div class="form-box fine-gray-border">
							<div class="form-section">
								<h3>Create Account</h3>
								<form action="">
									<div class="form-field">
										<label><b>EMAIL</b></label><br>
										<input type="text" name="email" placeholder="Enter your email address">
									</div>
									<div class="form-field">
										<label><b>PASSWORD</b></label><br>
										<input type="text" name="password" placeholder="Create your password">
									</div>
									<div class="form-field">
										<label><b>CONFIRM PASSWORD</b></label><br>
										<input type="text" name="password-confirmation" placeholder="Confirm your password">
									</div>
									<div class="form-field">
										<label><b>USERNAME</b></label><br>
										<input type="text" name="username" placeholder="Create your username">
									</div>
									<div class="terms-text">
										<label>By creating an account with Fangage you agree to our <a href="#">Terms of Service</a> and <a href="#">Privacy Policy</a></label>
									</div>
									<div class="form-footer button-row">
										<button type="button" class="button-white">
											<label>Cancel</label>
										</button>
										<button type="button" class="button-red" type="submit">
											<label>Create Account  <i class="icon-import-dark fa fa-arrow-right" aria-hidden="true"></i></label>
										</button>
									</div>
								</form>
							</div>
							<div class="form-footer-addenda">
								<label>Already got an account? <a href="#">Sign In</a></label>
							</div>
						</div>
					</div>
					<!-- Registration Form (End) -->
				</div>
			</div>
		</div>
		<!-- Background Image -->
		<img class="background-panel" src="../assets/background.png"/>
	</body>
</html>
