<!DOCTYPE html>
<html>
	<head>
		<!-- Page Meta -->
		<title>Fangage - Order History</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<!-- Stylesheets -->
		<link rel="stylesheet" type="text/css" href="../styles/_shared/__main.css">
		<link rel="stylesheet" type="text/css" href="../styles/_shared/_footer.css">
		<link rel="stylesheet" type="text/css" href="../styles/_shared/_header.css">
		<link rel="stylesheet" type="text/css" href="../styles/_shared/alignment.css">
		<link rel="stylesheet" type="text/css" href="../styles/_shared/buttons.css">
		<link rel="stylesheet" type="text/css" href="../styles/_shared/containers.css">
		<link rel="stylesheet" type="text/css" href="../styles/_shared/forms.css">
		<link rel="stylesheet" type="text/css" href="../styles/_shared/menu.css">
		<link rel="stylesheet" type="text/css" href="../styles/_shared/search-bar.css">
		<link rel="stylesheet" type="text/css" href="../styles/account_history.css">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
		<link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
		<!-- Scripts -->
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
		<script src="https://use.fontawesome.com/1140779824.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
		<script src="../scripts/_shared/__main.js"></script>
		<script src="../scripts/_shared/menu.js"></script>
		<script src="../scripts/account_history.js"></script>
	</head>
	<body>
		<div class="main-content-container flex-content">
			<!-- Header (Begin) -->
			<div class="header no-flex">
				<div class="header-control">
					<div class="menu">
						<button type="button" id="open-sidebar-button" class="menu">
							<i class="icon-import-light fa fa-bars" aria-hidden="true"></i>
						</button>
					</div>
					<div class="search-control-container">
						<div class="search-control">
							<button type="button" class="search-button" data-toggle="tooltip" data-placement="bottom" title="Start Search">
								<i class="icon-import-light fa fa-search" aria-hidden="true"></i>
							</button>
							<form>
								<input type="text" placeholder="Search celebrities and events"/>
							</form>
						</div>
					</div>
				</div>
				<div class="logo">
					<img src="../assets/branding/logo-white.png"/>
				</div>
				<div class="header-control justify-right">
					<button type="button" class="sign-button button-gray">
						<label>GET YOUR PHOTO SIGNED  <i class="icon-import-dark fa fa-arrow-right" aria-hidden="true"></i></label>
					</button>
				</div>
			</div>
			<!-- Header (End) -->
			<div class="container-orient-y fill-height scrollable-container">
				<div class="container-orient-x fill-width">
					<!-- Order History Form (Begin) -->
					<div class="inset-content-container">
						<div class="form-box fine-gray-border">
							<div class="form-section">
								<h3>Order History</h3>
								<form action="">
									<div class="form-field ordered-item">
										<div class="item-meta">
											<label class="order-date meta-entry">JUNE 21<sup>st</sup>, 2017</label>
											<h4 class="order-name meta-entry">Cristiano Ronaldo</h4>
											<label class="order-id meta-entry">Order ID: 162873876</label>
											<button type="button" class="button-white-border-black button-white-border-black-disabled">
												<label>PENDING</label>
											</button>
										</div>
										<div class="item-avatar">
											<img src="../assets/celebs/avatar_cristiano_ronaldo.png"/>
										</div>
									</div>
									<div class="form-field ordered-item">
										<div class="item-meta">
											<label class="order-date meta-entry">JANUARY 1<sup>st</sup>, 2017</label>
											<h4 class="order-name meta-entry">Denver Broncos</h4>
											<label class="order-id meta-entry">Order ID: 092756236</label>
											<button type="button" class="button-white-border-black">
												<label>DOWNLOAD</label>
											</button>
										</div>
										<div class="item-avatar">
											<img src="../assets/celebs/avatar_denver_broncos.png"/>
										</div>
									</div>
									<div class="form-field ordered-item">
										<div class="item-meta">
											<label class="order-date meta-entry">DECEMBER 3<sup>rd</sup>, 2016</label>
											<h4 class="order-name meta-entry">Scarlett Johansson</h4>
											<label class="order-id meta-entry">Order ID: 239613457</label>
											<button type="button" class="button-white-border-black button-white-border-black-disabled">
												<label>REJECTED</label>
											</button>
										</div>
										<div class="item-avatar">
											<img src="../assets/celebs/avatar_scarlett_johansson.png"/>
										</div>
									</div>
									<div class="form-footer button-row">
										<button type="button" class="button-white">
											<label>Cancel</label>
										</button>
										<button type="button" class="button-gray" type="submit">
											<label>Save Changes</label>
										</button>
									</div>
								</form>
							</div>
						</div>
					</div>
					<!-- Order History Form (End) -->
				</div>
			</div>
			<!-- Footer (Begin) -->
			<div class="footer static-footer">
				<div class = "footer-container">
					<div class="footer-component">
						<label class="copyright">Copyright &copy; 2017 Fangage, Inc. All rights reserved.</label>
					</div>
					<div class="footer-component">
						<div class="links-list">
							<a href="#">About</a>
							<a href="#">Terms</a>
							<a href="#">Privacy</a>
							<a href="#">Help</a>
						</div>
					</div>
				</div>
			</div>
			<!-- Footer (End) -->
		</div>
		<!-- Background Image -->
		<img class="background-panel" src="../assets/background.png"/>	
		<!-- Content Mask (for setting background during menu slide) -->
		<div id="main-page-content-mask">
		</div>
		<!-- Menu (Begin) -->
		<div id="main-menu" class="sidebar-menu menu-closed">
			<button type="button" id="close-sidebar-button" class="sidebar-button button-white close-button">
				<div class="vert-align">
					<label>CLOSE</label>
				</div>
				<div class="vert-align">
					<i class="icon-import-dark fa fa-times" aria-hidden="true"></i>
				</div>
			</button>
			<div class="links-list">
				<a href="#">Home</a>
				<a href="#">Celebrities &amp; Events</a>
				<div class="sub-links">
					<a href="#">Order History</a>
					<a href="#">My Account</a>
					<a href="#">Notifications</a>
				</div>
				<a href="#">Settings</a>
				<a href="#" data-toggle="modal" data-target="#signOutModal">Sign Out</a>
			</div>
		</div>
		<!-- Menu (End)) -->
		<!-- "Sign Out" Modal (Begin) -->
		<div class="modal fade" id="signOutModal" tabindex="-1" role="dialog" aria-labelledby="signOutModalLabel" aria-hidden="true">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-message">
						<h3 class="modal-title-text">Are you sure you want to sign out?</h3>
						</div>
					<div class="button-row">
						<button type="button" class="button-white" data-dismiss="modal">
							<label>Cancel</label>
						</button>
						<button type="button" class="button-red">
							<label>SIGN OUT</label>
						</button>
					</div>
				</div>
			</div>
		</div>
		<!-- "Sign Out" Modal (End) -->
	</body>
</html>
